<div class="form-group">
  <label class="control-label">キーワード検索</label>
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">検索</button>
    </span>
  </div>
</div>

<p>検索結果</p>
<% dvClose=false %>
<% @shikakus.each.with_index(1) do |shikaku,i| %>
<% if i%3==1 then %>
<% dvClose=false %>
<div class="btn-group btn-group-justified">
<% end %>
  <a href="#" class="btn btn-default"><%= shikaku.title %></a>
<% if i%3==0 then %>
</div>
<% dvClose=true %>
<% end %>
<% end %>
<% if dvClose==false then %>
</div>
<% end %>

