<div class="form-group">
  <label class="control-label">キーワード検索</label>
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">検索</button>
    </span>
  </div>
</div>

<p>検索結果</p>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">Left</a>
  <a href="#" class="btn btn-default">Middle</a>
  <a href="#" class="btn btn-default">Right</a>
</div>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">Left</a>
  <a href="#" class="btn btn-default">Middle</a>
  <a href="#" class="btn btn-default">Right</a>
</div>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">Left</a>
  <a href="#" class="btn btn-default">Right</a>
</div>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">Left</a>
</div>
