<p id="notice"><%= notice %></p>

<div class="row">
 	<div class="col-lg-4">
		<div class="bs-component">
			<h3><%= @shikaku.title %></h3>
			<p><%= @shikaku.detail %></p>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-lg-4">
		<div class="bs-component">
			<a href="/" class="btn btn-link">Topへ</a>
		</div>
	</div>
</div>
